* {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#main {
    grid-column: 1/4;
    display: grid;
    grid-template-rows: 100px auto;
}

#header {
    grid-row: 1/2;
    height: 100px;
    padding: 30px 0px 0px 50px;
}

#cards {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto auto auto;
}

.card {
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 2.5fr 1.5fr;
    align-self: center;
    margin: 30px;
}

.cardImage {
    grid-column: 1/2;
    grid-row: 1/2;
}

.cardImage > img {
    width: 300px;
    max-height: 450px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.cardText {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 10px;
}

.cardBtns {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-left: 10px;
}

.likeBtn {
    border: 1px solid green;
    border-radius: 10%;
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
}

.dislikeBtn {
    border: 1px solid red;
    border-radius: 10%;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
}

.discardBtn {
    border: 1px solid grey;
    border-radius: 10%;
    background-color: grey;
    color: white;
    font-size: 16px;
    padding: 5px;
}

#sidebar {
    grid-column: 4/5;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#likesArea {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#dislikesArea {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sideTitle {
    margin-top: 20px;
}

.smallCard {
    width: 250px;
    margin: 20px;
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
}

.smallCardImage {
    grid-column: 1/2;
    background-color: black;
}

.smallCardImage > img {
    max-width: 150px;
}

.smallCardText {
    grid-column: 2/3;
    text-align: center;
    padding-top: 45%;
    background-color: rgb(80, 80, 80);
    color: white;
}